body{
    /* background-color: #1f2122; */
   max-width: 2955px;
   max-height: fit-content;
   background-color: var(--color-darkest);
}

*{
    box-sizing: border-box;
}
:root{

    --padding_primary:20px;
    --margin-primary:10px;
    --color-light:rgb(255, 255, 255);
    --color-dark:#27292a;
    --color-darkest:#1f2122;
}

